@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

@import url('https://fonts.googleapis.com/css?family=Sacramento');

header {
    width: 65%;
    margin: 70px auto;
    font-family: 'Sawarabi Mincho', sans-serif;

}

h1 {
    font-size: 50px;
    float: left;
    font-size: 200%;
    color: #65676b;

}

figure {
    padding-top: 80px;

}

.blog {
    float: right;
    padding-left: 28px;
}

.twitter {
    float: right;
}

.menue {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 110%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    padding-right: 14%;
    float: right;
}

.element {
    float: none;
    text-align: right;
    padding-right: 90px;
}

.element-1 {
    float: none;
    text-align: right;
    padding-right: 90px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Sawarabi Mincho', sans-serif;
    margin: 0 auto;
}

a {
    font-family: 'Sawarabi Mincho', sans-serif;
    color: #65676b;
    text-decoration: none;
}
.top-image img{
    width:100%;

}
.text {
    text-align: center;
    padding-bottom:30px;
}

footer {
   
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
    border-top: 3px solid #797979;

}

.menue2 {
    width: 95%;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 180%;
    
}

.element2 {
    text-align: right;
}
